body{
    margin: 0;
    
}
.start-page{
    height: 150px;
    width: auto;
    background-image: url(../img/pattern.png);
    background-color: rgb(19, 192, 245);
}

h1{
    margin-bottom: 0;
}

#author{
    width: 200px;
}