body{
    margin: 0;
    
}
.start-page{
    height: 150px;
    width: auto;
    background-image: url(../img/pattern.png);
    background-color: rgb(19, 192, 245);
}

header{
    margin-bottom: 20px;
}

h1{
    margin-bottom: 0;
}

#author{
    color: rgb(165, 153, 153);
}

.text-mark{
    background-color: yellow;
}